<?xml version="1.0" encoding="UTF-8"?>

<!-- Method Level -->
<!--<suite name="Demo Test Suite" parallel="methods" thread-count="2">-->
<!--    <test name="Test Google HomePage and OpenAI HomePage">-->
<!--        <classes>-->
<!--            <class name="org.najoa.demo.TestExtentReports"/>-->
<!--        </classes>-->
<!--    </test>-->
<!--</suite>-->

<!-- Nested Package Level -->
<suite name="Selenium Test Suite" parallel="tests" thread-count="3">
    <listeners>
        <listener class-name="org.najoa.listeners.ExtentReportListener"/>
    </listeners>

    <test name="Access Control Frontend Tests">
        <packages>
            <package name="org.najoa.accesscontrolfrontend.*"/>
        </packages>
    </test>

    <!--    <test name="DemoApp Tests">-->
    <!--        <packages>-->
    <!--            <package name="org.najoa.demoapp"/> &lt;!&ndash; Package 1 &ndash;&gt;-->
    <!--        </packages>-->
    <!--    </test>-->
    <!--        <test name="DemoApp Tests">-->
    <!--            <packages>-->
    <!--                <package name="org.najoa.demoapp"/> &lt;!&ndash; Package 1 &ndash;&gt;-->
    <!--            </packages>-->
    <!--        </test>-->
</suite>